@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-bg-chat {
  animation: fadeInBackground 2s ease-in-out forwards;
}

.background-chat {
  background-image: url("../styles/pics/coast.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.chat-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.chat-container {
  backdrop-filter: blur(7px);
  height: 75%;
  width: 100%;

  border-radius: 10px;
  box-shadow: 0 10px 20px #000000;
}
